[Unit]
Description=heatmeters
After=network.target
BAD LINE Wants=media-pi-B355-928E.mount
BAD LINE BindsTo=media-pi-B355-928E.mount

[Service]
Type=simple
Restart=always
RestartSec=60
User=pi
WorkingDirectory=/media/pi/B355-928E/kazankontroll-dashboard/
ExecStartPre=/bin/sh -c 'while ! mountpoint -q /media/pi/B355-928E; do sleep 1; done'
ExecStart=/usr/bin/python3 /media/pi/B355-928E/kazankontroll-dashboard/heatmeters.py 30 3

[Install]
WantedBy=multi-user.target
